<main>
    <section>
        <h1>this is zi contact form page</h1>
        
        <form action="contact" method="post">
            <label for="alias">Your alias</label>
            <input type="text" name="alias" id="alias">

            <input type="submit" value="send">
        </form>
    </section>
</main>