<main>
    <section>
        <h1>this is zi home</h1>
        <p>Salut <%= alias %></p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod
            blanditiis consequatur illum animi corrupti? Nihil nulla, amet quasi
            recusandae nisi iure repudiandae esse reiciendis ea ad dolor dicta,
            quisquam qui! Repellendus, sed quod velit ipsum nam delectus
            voluptates. Fuga accusamus adipisci iure debitis labore est
            similique consectetur, commodi explicabo nisi.
        </p>
        
    </section>
</main>
